* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

article {
    margin: 0px;
}

.navbar {
    background-color: black;
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 2;
}

.search-button, .about-button {
    background-color: transparent;
    color: white;
    margin-right: 20px;
}

main {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin: 0px;
}

header {
    text-align: center;
}

.search-header {
    margin-bottom: 5px;
}

.search-form input, .search-form fieldset, .search-form select{
    margin-bottom: 10px;
}

.search-form input, .search-form label {
    display: block;
}

.search-form fieldset {
    margin-top: 15px;
    display: block;
    border: 1px solid black;
    padding: 10px;
}

.wildlife-types {
    width: 275px;
    margin-left: auto;
    margin-right: auto;
}

.time-period {
    width: max-content;
}

.wildlife-type-groups {
    display: flex;
    justify-content: space-between;
}

.wildlife-type-group {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.wildlife-type {
    margin-left: 5px;
    margin-right: 5px;
}

.wildlife-types input {
    margin-left: auto;
    margin-right: auto;
}

.submit-button {
    margin-top: 10px;
    margin-bottom: 30px;
}

.hidden {
    display: none;
}

.wildlife-results h2 {
    text-align: center;
}

.wildlife-result {
    margin-bottom: 20px;
    padding: 5px;
    border-bottom: 5px solid black;
}

.wildlife-result a, .wildlife-result p {
    overflow-wrap: break-word;
}

.sightings-slideshow {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
}

.sighting {
    display: none;
    width: 100%;
}

.default-sighting {
    display: block;
}

.sighting-photo {
    position: relative;
}

.slideshow-button {
    position: absolute;
    padding: 0px;
    background-color: transparent;
    border: none;
    padding: 0px;
    opacity: 0.7;
    top: 50%;
    width: 30px;
    height: 35px;
    margin-top: -17px;
}

.arrow-img {
    width: 100%;
    height: 100%;
}

.left-arrow-button {
    left: 3%;
}

.right-arrow-button {
    right: 3%;
}

.slideshow-button:focus, .slideshow-button:hover {
    transform: scale(1.4);
    opacity: 1.0;
}

.slideshow-button:hover {
    cursor: pointer;
}

.modal {
    display: none;
}

.modal.is-open {
    display: block;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    background-color: #fff;
    max-width: 500px;
    max-height: 85%;
    border-radius: 4px;
    overflow-y: auto;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 0;
}

.modal__close {
    background: transparent;
    border: 0;
}

.addresses-results input[type="radio"] {
    display: inline-block;
    margin-top: 15px;
}

.address-component {
    display: block;
}

@media screen and (min-width: 0px) {
    main {
        margin-top: 40px;
    }

    .navbar {
        width: 100%;
        top: 0px;
        left: 0px;
    }

    .search-header {
        text-align: center;
    }

    .search-form {
        margin-left: auto;
        margin-right: auto;
        width: max-content;
    }

    #search-country {
        width: 235px;
    }

    .modal__container {
        padding: 20px;
        width: 85%;
    }

    .modal__header {
        margin-bottom: 30px;
    }

    #addresses-modal-content {
        padding: 0px;
    }
}

@media screen and (min-width: 700px) {
    main {
        margin-top: 40px;
    }
    
    .navbar {
        width: 100%;
        top: 0px;
        left: 0px;
    }

    .wildlife-result {
        display: inline-block;
        vertical-align: top;
        width: 40%;
        margin-left: 4%;
        margin-right: 4%;
    }
}

@media screen and (min-width: 1100px) {
    main {
        padding-top: 20px;
        margin-top: 0px;
        margin-left: 80px;
    }

    .navbar {
        height: 100%;
        width: 80px;
        top: 0px;
        left: 0px;
    }

    .wildlife-result {
        display: inline-block;
        width: 25%;
        vertical-align: top;
        margin-left: 4%;
        margin-right: 4%;
    }
}