* {
    box-sizing: border-box;
}

.navbar {
    background-color: black;
    border-bottom: 1px solid black;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.search-button, .about-button {
    background-color: transparent;
    color: white;
    margin-right: 20px;
}

main {
    padding: 20px;
}

header {
    text-align: center;
}

.search-header {
    margin-bottom: 5px;
}

.search-form input, .search-form fieldset, .search-form select{
    margin-bottom: 10px;
}

.search-form input, .search-form label {
    display: block;
}

.wildlife-types {
    width: 100%;
}

.search-form fieldset {
    margin-top: 15px;
    display: block;
    width: max-content;
}

.wildlife-types div {
    display: inline-block;
    margin-right: 15px;
}

.wildlife-types input {
    margin-left: auto;
    margin-right: auto;
}

.submit-button {
    margin-top: 10px;
    margin-bottom: 30px;
}

.hidden {
    display: none;
}

.wildlife-result {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 5px solid black;
}

.sightings-slideshow {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: min-content;
    padding: 15px;
}

.sighting {
    display: none;
    width: 100%;
}

.default-sighting {
    display: block;
}

.slideshow-button {
    position: absolute;
    padding: 0px;
    background-color: transparent;
    border: none;
    padding: 0px;
    opacity: 0.75;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
}

.arrow-img {
    width: 100%;
}

.left-arrow-button {
    left: 5px;
}

.right-arrow-button {
    right: 5px;
}

.slideshow-button:focus, .slideshow-button:hover {
    opacity: 1.0;
}

.slideshow-button:hover {
    cursor: pointer;
}

.modal {
    display: none;
}

.modal.is-open {
    display: block;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    background-color: #fff;
    padding: 30px;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 0;
}

.modal__close {
    background: transparent;
    border: 0;
}

.addresses-results input[type="radio"] {
    display: inline-block;
    margin-top: 15px;
}

.address-component {
    display: block;
}