* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #593E00;
}

h1 {
    margin-bottom: 25px;
}

h1, h2 {
    font-weight: 900;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Pangolin", cursive;
}

a, input {
    font-size: 16px;
    line-height: 20px;
}

p, h1, h2, h3, h4, h5, h6, label, legend {
    color: white;
}

h1, h2 {
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

h3, h4, h5, h6, legend {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

p, label {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p, a, label, legend, input {
    font-family: "Mukta", sans-serif;
}

a {
    color: #05F710;
}

p {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 15px;
}

button {
    background-color: #05F710;
    font-weight: 700;
    padding: 5px;
}

.navbar {
    background-color: black;
    position: fixed;
    z-index: 2;
    left: 0px;
    top: 0px;
}

.navbar * {
    font-family: "EB Garamond", serif;
}

.about-button {
    background-color: transparent;
    color: #05F710;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

main {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin: 0px;
}

header {
    text-align: center;
}

.search-header {
    margin-bottom: 15px;
    text-align: center;
}

.container {
    position: relative;
}

.search-form {
    position: relative;
    margin-bottom: 30px;
    display: inline-block;
    left: 50%;
}

input, select {
    border: 2px solid #807C73;
}

.search-form.address input, .search-form.address fieldset, .search-form.address select{
    margin-bottom: 15px;
}

.search-form input, .search-form label {
    display: block;
}

fieldset {
    display: block;
    border: 2px solid #807C73;
    padding: 10px;
}

.search-form *:disabled {
    background-color: #807C73;
    color: rgba(255,255,255,0.5);
}

.wildlife-form {
    border: 2px solid #807C73;
    padding: 15px;
}

h3.wildlife-search {
    text-align: center;
}

.wildlife-form input, .wildlife-form fieldset, .wildlife-form select {
    margin-bottom: 20px;
}

.wildlife-types {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: grid;
    justify-items: center;
}

.wildlife-type {
    position: relative;
}

.wildlife-type input {
    opacity: 0;
    z-index: 1;
    margin: 0px;
    top: 19px;
}

.wildlife-type input, .custom-checkbox {
    position: absolute;
    left: 50%;
    margin-left: -6px;
}

/* Overlays the real checkbox */
.custom-checkbox {
    width: 13px;
    height: 13px;
    background-color: white;
    border-radius: 2px;
    top: 19px;
    z-index: 0;
    opacity: 0.75;
}

.custom-checkbox.disabled {
    background-color: #807C73;
    opacity: 0.75;
}

/* "Checked" Overlay */
.custom-checkbox.checked {
    background-color: #05F710;
    opacity: 1.0;
}

.search-period {
    display: inline-block;
}

#search-end {
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

.wildlife-results h2 {
    text-align: center;
}

.wildlife-result {
    margin-bottom: 20px;
    padding: 5px;
    border-bottom: 5px solid black;
}

.wildlife-result a, .wildlife-result p {
    overflow-wrap: break-word;
}

.sightings {
    margin-bottom: 20px;
}

.sighting {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.default-sighting {
    display: block;
}

.organism-photo-div {
    position: relative;
    display: inline-block;
}

.organism-photo {
    border: 1px solid black;
}

.caption {
    margin-top: 3px;
    font-size: 16px;
    line-height: 18px;
}

.slideshow-button {
    position: absolute;
    padding: 0px;
    background-color: transparent;
    border: none;
    padding: 0px;
    opacity: 0.7;
    top: 50%;
    width: 30px;
    height: 35px;
    margin-top: -17px;
}

.arrow-img {
    width: 100%;
    height: 100%;
}

.left-arrow-button {
    left: 3%;
}

.right-arrow-button {
    right: 3%;
}

.slideshow-button:focus, .slideshow-button:hover {
    transform: scale(1.4);
    opacity: 1.0;
}

.slideshow-button:hover {
    cursor: pointer;
}

.organism-name {
    text-align: center;
    margin-bottom: 5px;
}

.modal {
    display: none;
}

.modal.is-open {
    display: block;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.modal__container {
    background-color: white;
    border-radius: 4px;
    overflow-y: auto;
    padding: 20px;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    text-shadow: none;
}

.modal__close {
    background: transparent;
    border: 0;
}

.modal__content {
    padding: 0px;
}

.modal__content *{
    color: black;
    text-shadow: none;
}

.address-option-div {
    position: relative;
}

.address-option-label, .address-option-label * {
    margin-left: 20px;
}

.address-option {
    opacity: 0;
    z-index: 1;
    margin: 0px;
}

.address-option, .custom-radio {
    position: absolute;
    top: 2px;
    left: 0px;
}

.custom-radio {
    border: 1px solid black;
    background: white;
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    z-index: 0;
    cursor: pointer;
}

.custom-radio.checked {
    background-color: black;
}

.address-component {
    display: block;
}

/*
    Portrait mobile devices
*/
@media screen and (min-width: 0px) and (min-height: 0px) {
    .navbar {
        width: 100%;
        border-bottom: 1px solid #807C73;
    }
    
    main {
        margin-top: 50px;
    }

    h1 {
        font-size: 34px;
        line-height: 44px;
    }

    h2 {
        font-size: 26px;
        line-height: 38px;
    }

    h3 {
        font-size: 20px;
        line-height: 26px;
    }

    p {
        font-size: 16px;
        line-height: 19px;
    }
    
    .search-form.address {
        margin-left: -129px;
    }

    legend.address {
        font-size: 18px;
    }

    #search-country {
        width: 235px;
    }

    .wildlife-form {
        margin-left: -129px;
    }

    /* Display the wildlife types in two columns */
    .wildlife-types {
        grid-template-columns: 100px 100px;
        grid-template-rows: 60px 60px 60px 60px 60px 50px;
    }

    .wildlife-type.amphibians {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .wildlife-type.arachnids {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .wildlife-type.birds {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .wildlife-type.fish {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .wildlife-type.fungi {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .wildlife-type.insects {
        grid-column-start: 2;
        grid-row-start: 3;
    }

    .wildlife-type.mammals {
        grid-column-start: 1;
        grid-row-start: 4;
    }

    .wildlife-type.mollusks {
        grid-column-start: 2;
        grid-row-start: 4;
    }

    .wildlife-type.plants {
        grid-column-start: 1;
        grid-row-start: 5;
    }

    .wildlife-type.reptiles {
        grid-column-start: 2;
        grid-row-start: 5;
    }

    .wildlife-type.unknown {
        grid-column-start: 1;
        grid-row-start: 6;
    }

    .modal__container {
        width: 85%;
        height: 85%;
    }

    .modal__content {
        margin-top: 0px;
    }
}

/*
    Landscape mobile devices
*/
@media screen and (min-width: 500px) and (min-height: 0px) {
    .navbar {
        width: 100%;
        border-bottom: 1px solid #807C73;
    }
    
    main {
        margin-top: 50px;
    }

    h1 {
        font-size: 34px;
        line-height: 44px;
    }

    h2 {
        font-size: 26px;
        line-height: 38px;
    }

    h3 {
        font-size: 20px;
        line-height: 26px;
    }

    p {
        font-size: 16px;
        line-height: 19px;
    }
    
    .search-form.address {
        margin-left: -167px;
    }

    legend.address {
        font-size: 18px;
    }

    #search-country {
        width: 310px;
    }

    .wildlife-form {
        margin-left: -174px;
    }

    /* Display the wildlife types in three columns */
    .wildlife-types {
        grid-template-columns: 100px 100px 90px;
        grid-template-rows: 60px 60px 60px 50px;
    }

    .wildlife-type.amphibians {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .wildlife-type.arachnids {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .wildlife-type.birds {
        grid-column-start: 3;
        grid-row-start: 1;
    }

    .wildlife-type.fish {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .wildlife-type.fungi {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .wildlife-type.insects {
        grid-column-start: 3;
        grid-row-start: 2;
    }

    .wildlife-type.mammals {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .wildlife-type.mollusks {
        grid-column-start: 2;
        grid-row-start: 3;
    }

    .wildlife-type.plants {
        grid-column-start: 3;
        grid-row-start: 3;
    }

    .wildlife-type.reptiles {
        grid-column-start: 1;
        grid-row-start: 4;
    }

    .wildlife-type.unknown {
        grid-column-start: 2;
        grid-row-start: 4;
    }

    .modal__container {
        width: 85%;
        height: 70%;
    }

    .modal__content {
        margin-top: 0px;
    }
}

/*
    Portrait Tablet Devices
*/
@media screen and (min-width: 700px) and (min-height: 700px) {
    .navbar {
        width: 100%;
        border-bottom: 1px solid #807C73;
    }

    main {
        margin-top: 50px;
    }

    h1 {
        font-size: 36px;
        line-height: 48px;
    }

    h2 {
        font-size: 28px;
        line-height: 44px;
    }

    h3 {
        font-size: 21px;
        line-height: 28px;
    }

    p {
        font-size: 18px;
        line-height: 22px;
    }
    
    .search-form.address {
        margin-left: -167px;
    }

    legend.address {
        font-size: 18px;
    }

    #search-country {
        width: 310px;
    }

    .wildlife-form {
        margin-left: -174px;
    }

    /* Display the wildlife types in three columns */
    .wildlife-types {
        grid-template-columns: 100px 100px 90px;
        grid-template-rows: 60px 60px 60px 50px;
    }

    .wildlife-type.amphibians {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .wildlife-type.arachnids {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .wildlife-type.birds {
        grid-column-start: 3;
        grid-row-start: 1;
    }

    .wildlife-type.fish {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .wildlife-type.fungi {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .wildlife-type.insects {
        grid-column-start: 3;
        grid-row-start: 2;
    }

    .wildlife-type.mammals {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .wildlife-type.mollusks {
        grid-column-start: 2;
        grid-row-start: 3;
    }

    .wildlife-type.plants {
        grid-column-start: 3;
        grid-row-start: 3;
    }

    .wildlife-type.reptiles {
        grid-column-start: 1;
        grid-row-start: 4;
    }

    .wildlife-type.unknown {
        grid-column-start: 2;
        grid-row-start: 4;
    }

    .wildlife-result {
        display: inline-block;
        vertical-align: top;
        width: 40%;
        margin-left: 4%;
        margin-right: 4%;
    }

    .modal__container {
        width: 85%;
        height: 75%;
    }

    .modal__content {
        margin-top: 0px;
    }
}

/*
    Landscape tablet devices
*/
@media screen and (min-width: 900px) and (min-height: 700px) {
    .navbar {
        height: 100%;
        width: 80px;
        border-right: 1px solid #807C73;
        border-bottom: none;
    }

    main {
        padding-top: 20px;
        margin-top: 0px;
        margin-left: 80px;
    }

    h1 {
        font-size: 36px;
        line-height: 48px;
    }

    h2 {
        font-size: 28px;
        line-height: 44px;
    }

    h3 {
        font-size: 21px;
        line-height: 28px;
    }

    p {
        font-size: 20px;
        line-height: 22px;
    }
    
    .search-form.address {
        margin-left: -167px;
    }

    legend.address {
        font-size: 18px;
    }

    #search-country {
        width: 310px;
    }

    .wildlife-form {
        margin-left: -174px;
    }

    /* Display the wildlife types in three columns */
    .wildlife-types {
        grid-template-columns: 100px 100px 90px;
        grid-template-rows: 60px 60px 60px 50px;
    }

    .wildlife-type.amphibians {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .wildlife-type.arachnids {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .wildlife-type.birds {
        grid-column-start: 3;
        grid-row-start: 1;
    }

    .wildlife-type.fish {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .wildlife-type.fungi {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .wildlife-type.insects {
        grid-column-start: 3;
        grid-row-start: 2;
    }

    .wildlife-type.mammals {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .wildlife-type.mollusks {
        grid-column-start: 2;
        grid-row-start: 3;
    }

    .wildlife-type.plants {
        grid-column-start: 3;
        grid-row-start: 3;
    }

    .wildlife-type.reptiles {
        grid-column-start: 1;
        grid-row-start: 4;
    }

    .wildlife-type.unknown {
        grid-column-start: 2;
        grid-row-start: 4;
    }

    .wildlife-result {
        display: inline-block;
        width: 25%;
        vertical-align: top;
        margin-left: 4%;
        margin-right: 4%;
    }

    .modal__container {
        width: 80%;
        height: 80%;
    }

    .modal__content {
        margin: 0px;
    }
}

/*
    PC devices
*/
@media screen and (min-width: 1100px) {
    .navbar {
        height: 100%;
        width: 80px;
        border-right: 1px solid #807C73;
        border-bottom: none;
    }

    main {
        padding-top: 20px;
        margin-top: 0px;
        margin-left: 80px;
    }

    h1 {
        font-size: 36px;
        line-height: 48px;
    }

    h2 {
        font-size: 28px;
        line-height: 44px;
    }

    h3 {
        font-size: 21px;
        line-height: 28px;
    }

    p {
        font-size: 20px;
        line-height: 22px;
    }
    
    .search-form.address {
        margin-left: -167px;
    }

    legend.address {
        font-size: 18px;
    }

    #search-country {
        width: 310px;
    }

    .wildlife-form {
        margin-left: -164px;
    }

    /* Display the wildlife types in three columns */
    .wildlife-types {
        grid-template-columns: 95px 95px 80px;
        grid-template-rows: 55px 55px 55px 40px;
    }

    .wildlife-type.amphibians {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .wildlife-type.arachnids {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .wildlife-type.birds {
        grid-column-start: 3;
        grid-row-start: 1;
    }

    .wildlife-type.fish {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .wildlife-type.fungi {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .wildlife-type.insects {
        grid-column-start: 3;
        grid-row-start: 2;
    }

    .wildlife-type.mammals {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .wildlife-type.mollusks {
        grid-column-start: 2;
        grid-row-start: 3;
    }

    .wildlife-type.plants {
        grid-column-start: 3;
        grid-row-start: 3;
    }

    .wildlife-type.reptiles {
        grid-column-start: 1;
        grid-row-start: 4;
    }

    .wildlife-type.unknown {
        grid-column-start: 2;
        grid-row-start: 4;
    }

    .wildlife-result {
        display: inline-block;
        width: 25%;
        vertical-align: top;
        margin-left: 4%;
        margin-right: 4%;
    }

    .modal__container {
        width: 80%;
        height: 80%;
    }

    .modal__content {
        margin: 0px;
    }
}